<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="myProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:sample.properties</value>
            </list>
        </property>

    </bean>
    <bean id="a1" class="org.example.models.Address" >
        <property name="city" value="HCM"></property>
        <property name="country" value="VN"></property>
        <property name="state" value="${ten_lop}"></property>
    </bean>
    <bean id="e1" class="org.example.models.Employee" >
        <property name="id" value="1"></property>
        <property name="name" value="Hehe"></property>
        <property name="address" ref="a1"></property>
    </bean>
    <bean id="faculty" class="org.example.models.Faculty">
        <property name="name" value="aaaaaaaaaaaaaaaaa"></property>
    </bean>
    <bean id="d1" class="org.example.models.Department">
        <property name="name" value="department 1" ></property>
        <property name="faculty" ref="faculty"></property>
    </bean>

    <bean id="d2" class="org.example.models.Department" autowire="byName">
        <property name="name" value="department 2" ></property>
    </bean>
</beans>